
.vs/MultiMouse/v16/Browse.VC.db
.vs/MultiMouse/v16/Browse.VC.db-shm
.vs/MultiMouse/v16/Browse.VC.db-wal
.vs/MultiMouse/v16/Browse.VC.opendb
.vs/MultiMouse/v16/ipch/AutoPCH/22e472c55af9de99/EVENTSTORAGE.ipch
.vs/MultiMouse/v16/ipch/AutoPCH/267b8ace16f9618d/MOUSE.ipch
.vs/MultiMouse/v16/ipch/AutoPCH/b326236c5308c8f2/MOUSEMANAGER.ipch
